html{
     margin: 10px;
}
 body{
    padding-top:30px;
}
 .login-form > div {
     margin-bottom: 25px;
}
 .login-form > div:last-child {
     margin-top: 10px;
     margin-bottom: 10px;
}
 .iconmelon{
     text-align: center;
}
 .iconmelon img{
     height: 120px;
     margin-top: 50px;
}
 .margin-top-zero{
     margin-top: 0;
}
 .margin-top-25{
     margin-top: 25px;
}
 .row.content{
     padding-top: 20px;
}
 .glyphicon-margin {
     margin-bottom: 10px;
    margin-right: 10px;
}
 small {
     display: block;
     line-height: 1.428571429;
     color: #999;
}
.card.img-fluid{
    border: 1px solid gray;
    border-radius: 9px;
    padding-top: 10px;
}
.card-img-top{
    height: 120px;
}
.padding-top-28{
    padding-top: 28px;
}
.activeuser span{
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.list-group.col-sm-6 a{
    text-decoration: none;
}
.well.well-sm li{
    display: inline-block;
    background: white;
    cursor: pointer;
}
.well.well-sm li:nth-child(odd) {
    background: #e5e3e3;
}
.well.well-sm .active{
    background-color: #337ab7 !important;
}
.well.well-sm .active a{
    color: white !important;
}

.well.well-sm .nav>li>a:focus,.well.well-sm .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}
.display-none{
    display: none;
}
ul.nav{
    padding-bottom: 30px;
}
strong{
    font-size: 18px;
}
#why-no-jquery #i-am-a-list li, #why-no-index-as-key #i-am-a-list li{
    display: block;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
}
#why-no-jquery #i-am-a-list, #why-no-index-as-key #i-am-a-list{
    padding: 15px 0 15px 0px;
}
#why-no-jquery .btn {
    margin-right: 10px;
}
#why-no-index-as-key #i-am-a-list li input{
    height: 24px;
    margin-right: 10px;
}
#using-refs-wisely input{
    margin: 15px 0px 15px 0px;
}
